body{
  background: rgb(41,32,82);
background: linear-gradient(144deg, rgba(41,32,82,1) 30%, rgba(52,108,217,1) 100%);
font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}
.bg-1{
  background: #292052;
  color: white;
  /* box-shadow: 0px 0px 11px 0px; */
}
/* NAVBAR */
.navbar{
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* box-shadow: 0px 0px 11px 0px; */
}
.position-sticky{
  z-index: 9;
}
.navbar__brand{
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  
}
.navbar__group{

  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-evenly;
  align-items: baseline;
}

.nav-link{
  color: white;
}

.btn{
  padding: 1rem 0.7rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
}

.btn-primary{
  background: none;
  color: #fff; 
  border: solid 1px #346cd9; 
}

.btn-focus{
  box-shadow: 0px 0px 10px 0px #346cd9;
}
.btn-focus-100{
  box-shadow: 0px 0px 20px 3px #346cd9;
}

/* HOME */
.row__home{
  height: 850px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgb(219, 216, 216);
}
.title{
  font-size: 3rem;
}
.title__focus{
  color: #346cd9;
  text-shadow: 0px 0px 20px;
}
.description{
  text-align: justify;
}
.img__home{
  width: 90%;
 border: solid 1rem #346cd9;
 box-shadow: 0px 0px 20px 0px #346cd9;
}

/* ABOUT  */
.title__about{
  border-left: solid  #346cd9 ;
  border-left-width: 10px;
  padding-left: 5px;

}
.about__img{
  width: 80%;
  height: auto;
}
.about__description{
  font-size: 16px;
}
.img-group{
  width: 50%;
}
.form__about{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* CONTACT  */

#contact{
  background-image: url("../img/javascript2.png");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#contact:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#contact form {
	/* font-size: 60px; */
	color: #fff;
	position: relative
}

.bg-footer{
  background-color: #292052;
}
.button-copied {
  cursor: pointer;
}

/* CARD */

.card{
  cursor: pointer;
  position: relative;
  padding: 6px 10px ;
  background: #292052;
  color: #fff;
  /* width: 184px; */
  /* margin: 10px 0px; */
height: 254px;
  overflow-y: hidden;
}
.card__img{
  width: 100%;
  position: absolute;
  left: -13.04%;
  right: 19.02%;
  top: 29.85%;
  bottom: -14.93%;
}

.card__img img {
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.card__group{
  position: absolute;
  left: 72.28%;
  right: 11.41%;
  top: 9.7%;
  bottom: 9.7%;
display: flex;
flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 0px 20px;
    background-color: #346cd9;
    box-shadow: 0 0 12px 2px #346cd9;
    border-radius: 5px;
}


.card__img--group{
  width: 30px;
}

/* BRIEFCASE */
.group-circle{
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.circle{
  width: 15px;
  background: #bfbfbf;
  height: 15px;
  border-radius: 50%;
  margin: 0 15px;
}
.briefcase{
  display: none;
  background-color: #c3c3c3;
  border-radius: 33px 33px 0 0;
  padding-bottom: 30px;
}
.briefcase__box{
  width: 100%;
  height: 200px;
  border-radius: 33px;
  margin-bottom: 20px;
  overflow: hidden;
}
.briefcase__img{
  width: 100%;
    height: auto;

}
@supports(object-fit: cover){
  .card__img img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .briefcase__img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


.briefcase__title{
  text-align: center;
  margin: 20px 0;
}
.briefcase__btn{
  margin: 15px 0;
  border: none;
  color: white;
  font-style: normal;
font-weight: normal;
padding: 15px 5%;
font-size: 23px;
line-height: 27px;
background: #2B4680;
border-radius: 30px;
}

.fa-hand-point-up, .fa-arrow-left{
 font-size: 50px;
 overflow-x: hidden;
}
.fa-arrow-left{
  color: #292052;
}
.fa-hand-point-up{
  color: #9e9bac;
}
.group-cards{
  transition: all .5s ease;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.close {
  transition: all .5s ease;
  cursor: pointer;
  font-size: 20px;
    color: #6751cc;
    position: absolute;
    right: 15px;
    padding-top: 15px;
}